<div class="container mx-auto max-w-7xl px-4 text-center mt-20">
  <div style="margin-bottom: 60px;"></div>
  <h1 class="text-xl font-semibold mb-12 text-gray-600"><i class="fa-solid fa-user"></i> マイページ</h1>

  <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto max-w-md">
    <!-- 居住地をアバターと名前の上に小さく表示 -->
    <div class="flex justify-center items-center mb-4">
      <div class="text-sm bg-gray-100 text-gray-600 py-1 px-3 rounded-full">
        <%= "#{@user.user_prefecture} #{@user.user_city}" %>
      </div>
    </div>

    <!-- アバターと名前を横に表示するためのflexコンテナ -->
    <div class="flex items-center justify-center mb-6">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: "h-24 w-24 rounded-full" %>
      <% else %>
        <%= image_tag 'default_avatar.webp', class: "h-24 w-24 rounded-full" %>
      <% end %>
      <div class="ml-4 text-xl"><%= @user.name %></div>
    </div>

    <div class="flex items-center justify-center mb-6">
      <div class="w-25 p-2 rounded text-sm">メールアドレス：</div>
      <div class="ml-8 text-gray-600 text-sm"><%= @user.email %></div>
    </div>
  
    <!-- プロフィール編集画面へのボタン -->
    <div class="text-center mt-6">
      <%= link_to 'プロフィールを編集する', edit_profile_path, class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>

  <hr class="my-4 border-gray-300">

  <div class="mt-12 mx-auto max-w-md">
    <h2 class="text-lg font-bold text-gray-600 mb-6"><i class="fa-solid fa-house"></i> <%= @user.name %> の投稿</h2>
    <% if @libraries.empty? %>
      <div class="text-center">投稿された図書館はありません。</div>
    <% else %>
      <% @libraries.each do |library| %>
        <div class="border rounded-lg p-6 mb-8 hover:bg-gray-100">
          <h3 class="font-bold text-gray-800"><%= library.name %></h3>
          <p class="text-gray-600"><%= library.body %></p>
          <div class="mt-4">
            <%= link_to '図書館の詳細を見る', library_path(library), class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr class="my-4 border-gray-300">

    <!-- ユーザーがお気に入り登録した図書館の表示 -->
    <h2 class="text-lg font-bold text-gray-600 mb-6"><i class="fa-solid fa-star"></i> <%= @user.name %> のお気に入りの図書館 </h2>
    <% if @bookmarked_libraries.empty? %>
      <div class="text-center">お気に入りに登録された図書館はありません。</div>
    <% else %>
      <% @bookmarked_libraries.each do |library| %>
        <div class="border rounded-lg p-6 mb-8 hover:bg-gray-100">
          <h3 class="font-bold text-gray-800"><%= library.name %></h3>
          <p class="text-gray-600"><%= library.body %></p>
          <div class="mt-4">
            <%= link_to '図書館の詳細を見る', library_path(library), class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr class="my-8 border-gray-300 max-w-md mx-auto">

    <%= link_to 'javascript:history.back()', class: "bg-gray-100 hover:bg-gray-200 text-black font-bold py-1.5 px-3 rounded-full focus:outline-none focus:shadow-outline border-2 border-gray-300" do %>
      <i class="fa-solid fa-reply"></i> 前のページに戻る
    <% end %>

    <div style="margin-bottom: 100px;"></div>
</div>
