<div class="container mx-auto max-w-6xl px-4 text-center h-screen flex justify-center items-start mt-20">
  <div class="w-full max-w-md">
    <h3 class="text-lg font-bold mb-4">パスワードリセット申請</h3>

    <%= form_with url: password_resets_path, local: true do |f| %>
      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "email" %>
      </div>
      <%= f.submit '申請', class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <% end %>

    <hr class="my-8 border-gray-300 max-w-md mx-auto">

    <%= link_to 'javascript:history.back()', class: "bg-gray-100 hover:bg-gray-200 text-black font-bold py-1.5 px-3 rounded-full focus:outline-none focus:shadow-outline border-2 border-gray-300" do %>
      <i class="fa-solid fa-reply"></i> 前のページに戻る
    <% end %>

    <div style="margin-bottom: 100px;"></div>
  </div>
</div>
