<!-- app/views/libraries/_search_form.html.erb -->
<div id="search-form" class="card border rounded shadow p-4 mx-auto max-w-4xl mt-5 hover:bg-gray-100" 
     data-controller="autocomplete"
     data-autocomplete-url-value="<%= autocomplete_libraries_path(format: :json) %>">
  <%= search_form_for @q, url: libraries_path, class: "flex flex-col sm:flex-row justify-center gap-4 mb-8" do |f| %>
    <div class="flex-1">
      <%= f.label :name_cont, '図書館名', class: "block text-gray-700 text-sm font-bold mb-2 sm:mb-0" %>
      <%= f.search_field :name_cont, class: "shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full",
                         data: { autocomplete_target: "input", action: "input->autocomplete#search" } %>
    </div>

    <div class="flex-1">
      <%= f.label :prefecture_eq, '都道府県', class: "block text-gray-700 text-sm font-bold mb-2 sm:mb-0" %>
      <%= f.select :prefecture_eq, options_for_select(@unique_prefectures, selected: @q.prefecture_eq), include_blank: true, class: "shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" %>
    </div>

    <div class="flex-1">
      <%= f.label :study_rooms_eq, '自習室の有無', class: "block text-gray-700 text-sm font-bold mb-2 sm:mb-0" %>
      <%= f.select :study_rooms_eq, options_for_select([['あり', 1], ['なし', 0]], selected: @q.study_rooms_eq), include_blank: true, class: "shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" %>
    </div>

    <div class="flex items-end justify-center flex-1">
      <%= f.submit '検索', class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline" %>
    </div>

    <ul data-autocomplete-target="results"></ul> <!-- オートコンプリートの結果を表示する場所 -->
  <% end %>
</div>

<!-- メモ -->
<!-- ransackの検索パラメータ（name_cont）を使用して、部分一致検索（_cont）、完全一致検索（_eq）などのransackが提供するマッチャーを活用 -->