<!-- 図書館編集画面 -->
<div class="container mx-auto max-w-7xl px-4 text-center mt-20">
  <%= form_with(model: @library, local: true, class: "mx-auto max-w-md") do |form| %>
    <h1 class="text-xl font-semibold mb-12 text-gray-600"><%= @library.name %> の情報を編集</h1>

    <!-- 保存ボタン -->
    <div class="text-center mt-8">
      <%= form.submit "この内容に変更する", class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4"></div>

    <% if @library.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
        <strong class="font-bold">エラーが発生しました</strong>
        <span class="block sm:inline"><%= pluralize(@library.errors.count, "件のエラー") %>。</span>
        <ul class="list-disc list-inside">
          <% @library.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto">
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded text-center">図書館名</div>
        <div class="ml-8">
          <%= form.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 w-64 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" %>
        </div>
      </div>

      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded text-center">都道府県</div>
        <div class="ml-8">
          <%= form.select :prefecture, prefectures_for_select, {}, class: "shadow appearance-none border rounded py-2 px-3 w-64 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" %>
        </div>
      </div>

      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded text-center">自習室の有無</div>
        <div class="ml-8">
          <%= form.select :study_rooms, { 'あり': 1, 'なし': 0 }, {}, class: "shadow appearance-none border rounded py-2 px-3 w-64 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" %>
        </div>
      </div>

      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded text-center">休館日</div>
        <div class="ml-8">
          <%= form.text_field :holiday, class: "shadow appearance-none border rounded py-2 px-3 w-64 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" %>
        </div>
      </div>

      <!-- 画像アップロードのフィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded text-center">画像</div>
        <div class="ml-8">
            <%= form.file_field :img, class: "shadow appearance-none border rounded py-2 px-3 w-64 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" %>
        </div>
      </div>

      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded text-center">備考</div>
        <div class="ml-8">
          <%= form.text_area :body, class: "shadow appearance-none border rounded py-2 px-3 w-64 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center mt-6">
    <%= link_to '図書館を探す', libraries_path, class: "bg-blue-200 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to 'マイページ', profile_path, class: "bg-blue-200 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
  </div>
  <div style="margin-bottom: 40px;"></div>
</div>
