<div class="container mx-auto max-w-7xl px-4 text-center mt-20">
  <div style="margin-bottom: 60px;"></div>
  <h1 class="text-xl font-semibold mb-12 text-gray-600"><i class="fa-solid fa-house"></i> 図書館一覧</h1>

  <hr class="my-4 border-gray-300">

  <%= form_with url: libraries_path, method: :get, local: true, class: "flex flex-wrap justify-center gap-4 mb-8" do |form| %>
    <div class="mb-4">
      <%= form.label :name, '図書館名', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :name, options_for_select(@unique_library_names, selected: params[:name]), include_blank: true, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :prefecture, '都道府県', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :prefecture, options_for_select(@unique_prefectures, selected: params[:prefecture]), include_blank: true, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  
    <div class="mb-4">
      <%= form.label :study_rooms, '自習室の有無', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :study_rooms, options_for_select([['あり', 1], ['なし', 0]], selected: params[:study_rooms].present? ? params[:study_rooms].to_i : nil), include_blank: true, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :holiday, '休館日', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :holiday, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  
    <%= form.button type: 'submit', class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-1 px-8 rounded focus:outline-none focus:shadow-outline border border-black" do %>
      <i class="fa-solid fa-magnifying-glass"></i> 検索
    <% end %>
  <% end %>

  <hr class="my-4 border-gray-300">

  <div class="text-center mt-9">
    <%= link_to new_library_path, class: "bg-blue-100 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" do %>
      <i class="fa-solid fa-pen-fancy"></i> 図書館を登録する
    <% end %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-10">
    <% @libraries.each do |library| %>
      <div class="border rounded-lg p-6 hover:bg-gray-100">
        <!-- 自習室の有無表示 -->
        <div class="text-center mb-6">
          <div class="border border-gray-400 mx-auto inline-block rounded-full px-6 py-2">
            <h4 class="text-md font-semibold text-gray-500">自習室 <%= library.study_rooms.to_i > 0 ? 'あり' : 'なし' %></h4>
          </div>
        </div>

        <h2 class="text-lg font-bold text-gray-600 mb-6"><%= library.prefecture %> <%= library.name %></h2>

        <hr class="my-4 border-gray-300 max-w-md mx-auto">

        <!-- お気に入り登録、解除ボタン -->
        <div class="mb-8">
          <% if current_user %>
            <% bookmark = current_user.bookmarks.find_by(library_id: library.id) %>
            <% if bookmark %>
              <%= link_to library_bookmark_path(library, bookmark), data: { turbo_method: :delete }, class: "bg-transparent hover:bg-gray-200 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" do %>
                <i class="fa-solid fa-star text-yellow-500">お気に入り</i>
              <% end %>
            <% else %>
              <%= link_to library_bookmarks_path(library), data: { turbo_method: :post }, class: "bg-transparent hover:bg-gray-200 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" do %>
                <i class="fa-regular fa-star hover:text-yellow-500">お気に入りに登録</i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to login_path, class: "bg-transparent hover:bg-gray-200 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" do %>
              <i class="fa-regular fa-star"></i> ログインしてお気に入り登録
            <% end %>
          <% end %>
        </div>

        <!-- 画像表示 -->
        <% if library.img.present? %>
          <div class="mb-6">
            <%= image_tag library.img.url, class: "max-w-48 h-auto rounded mx-auto" %>
          </div>
        <% else %>
          <div class="flex justify-center mb-6">
            <%= image_tag 'default_library1.webp', class: "max-w-36 h-auto rounded mx-auto" %>
          </div>
        <% end %>

        <!-- 座席数表示 -->
        <div class="text-center mb-6">
          <h4 class="text-sm font-semibold text-gray-500">座席数: <%= I18n.t("enums.library.seats_number.#{library.seats_number}") %></h4>
        </div>

        <div class="mt-6">
          <%= link_to '詳細を見る', library_path(library), class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- ページネーションリンク -->
  <div class="mt-8 flex justify-center">
    <%= paginate @libraries %>
  </div>

  <hr class="my-8 border-gray-300 max-w-md mx-auto">

  <%= link_to 'javascript:history.back()', class: "bg-gray-100 hover:bg-gray-200 text-black font-bold py-1.5 px-3 rounded-full focus:outline-none focus:shadow-outline border-2 border-gray-300" do %>
    <i class="fa-solid fa-reply"></i> 前のページに戻る
  <% end %>

  <div style="margin-bottom: 100px;"></div>
</div>
