<div class="container mx-auto max-w-7xl px-4 text-center mt-20">
  <h1 class="text-xl font-semibold mb-12 text-gray-600">図書館一覧</h1>

  <hr class="my-4 border-gray-300">

  <%= form_with url: libraries_path, method: :get, local: true, class: "flex flex-wrap justify-center gap-4 mb-8" do |form| %>
    <div class="mb-4">
      <%= form.label :name, '図書館名', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :name, options_for_select(@unique_library_names, selected: params[:name]), include_blank: true, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :prefecture, '都道府県', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :prefecture, options_for_select(@unique_prefectures, selected: params[:prefecture]), include_blank: true, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  
    <div class="mb-4">
      <%= form.label :study_rooms, '自習室の有無', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :study_rooms, options_for_select([['あり', 1], ['なし', 0]], selected: params[:study_rooms].present? ? params[:study_rooms].to_i : nil), include_blank: true, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :holiday, '休館日', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :holiday, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  
    <%= form.submit '検索', class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-1 px-8 rounded focus:outline-none focus:shadow-outline border border-black" %>
  <% end %>

  <hr class="my-4 border-gray-300">

  <div class="text-center mt-9">
    <%= link_to '図書館を登録する', new_library_path, class: "bg-blue-100 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
    <%= link_to 'マイページ', profile_path, class: "bg-blue-100 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
    <% @libraries.each do |library| %>
      <div class="border rounded-lg p-6 hover:bg-gray-100">
        <h2 class="text-lg font-bold text-gray-600 mb-6"><%= library.name %></h2>
        <div class="flex items-center justify-start mb-6">
          <div class="w-32 bg-gray-100 p-2 rounded">都道府県</div>
          <div class="ml-8"><%= library.prefecture %></div>
        </div>

        <div class="flex items-center justify-start mb-6">
          <div class="w-32 bg-gray-100 p-2 rounded">自習室</div>
          <div class="ml-8"><%= library.study_rooms > 0 ? 'あり' : 'なし' %></div>
        </div>

        <!-- 画像表示 -->
        <% if library.img.present? %>
          <div class="mb-6">
            <%= image_tag library.img.url, class: "max-w-48 h-auto rounded mx-auto" %>
          </div>
        <% else %>
          <div class="flex justify-center mb-6">
            <%= image_tag 'default_library1.webp', class: "max-w-36 h-auto rounded mx-auto" %>
          </div>
        <% end %>

        <div class="flex items-center justify-start mb-6">
          <div class="w-32 bg-gray-100 p-2 rounded">休館日</div>
          <div class="ml-8"><%= library.holiday %></div>
        </div>

        <!-- 備考の項目をflexコンテナで整列させる -->
        <div class="flex items-center justify-start mb-6">
          <div class="w-32 bg-gray-100 p-2 rounded">備考</div>
          <div class="ml-8"><%= truncate(library.body, length: 100) %></div>
        </div>

        <div class="mt-6">
          <%= link_to '詳細を見る', library_path(library), class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- ページネーションリンク -->
  <div class="mt-8 flex justify-center">
    <%= paginate @libraries %>
  </div>

  <div style="margin-bottom: 150px;"></div>
</div>
