<!-- 新規登録画面 app/views/libraries/new.html.erb -->
<div class="container mx-auto max-w-7xl px-4 text-center mt-20">
  <div style="margin-bottom: 60px;"></div>
  <h1 class="text-xl font-semibold mb-12 text-gray-600"><i class="fa-solid fa-pen-fancy"></i> 新しい図書館を追加</h1>

  <%= form_with(model: @library, local: true, html: { multipart: true }) do |form| %>
    <% if @library.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
        <strong class="font-bold">エラーが発生しました：</strong>
        <ul>
          <% @library.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card border rounded-lg p-6 hover:bg-gray-100 mx-auto">
      <!-- 図書館名の入力フィールド（地図検索のkey） -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">図書館名</div>
        <div class="ml-8 w-48">
          <%= form.text_field :name, id: "library-name", class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 都道府県の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">都道府県</div>
        <div class="ml-8 w-48">
          <%= form.select :prefecture, prefectures_for_select, {}, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 自習室の有無の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">自習室の有無</div>
        <div class="ml-8 w-48">
          <%= form.select :study_rooms, { 'あり': 1, 'なし': 0 }, {}, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 座席数の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">座席数</div>
        <div class="ml-8 w-48">
          <%= form.select :seats_number, Library.seats_numbers.keys.map { |key| [I18n.t("enums.library.seats_number.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- PC利用可能かの選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">PCの利用</div>
        <div class="ml-8 w-48">
          <%= form.select :pc_available, Library.pc_availables.keys.map { |key| [I18n.t("enums.library.pc_available.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- WiFi利用可能かの選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">WiFiの利用</div>
        <div class="ml-8 w-48">
          <%= form.select :wifi_available, Library.wifi_availables.keys.map { |key| [I18n.t("enums.library.wifi_available.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- 電源の有無の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">電源の利用</div>
        <div class="ml-8 w-48">
          <%= form.select :power_available, Library.power_availables.keys.map { |key| [I18n.t("enums.library.power_available.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- 定休日の入力フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">定休日</div>
        <div class="ml-8 w-48">
          <%= form.text_field :holiday, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 画像アップロードフィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">画像</div>
        <div class="ml-8 w-48">
            <%= form.file_field :img, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 備考のテキストエリア -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">備考</div>
        <div class="ml-8 w-48">
          <%= form.text_area :body, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 住所、緯度軽度の隠しフィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="ml-8 w-48">
          <%= form.text_field :address, id: "library-address", placeholder: "住所を検索", class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <button onclick="codeAddress()" type="button" class="ml-4 bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="text-center text-sm text-gray-600">
        ※住所は図書館名から検索します
      </div>
      <%= form.hidden_field :latitude, id: "library-latitude" %>
      <%= form.hidden_field :longitude, id: "library-longitude" %>

      <!-- 取得した緯度経度と住所を表示 -->
      <div id="display" class="text-center mt-4"></div>

      <!-- 住所検索と地図表示の処理 -->
      <script>
      let geocoder;

      // 2.「地図表示ボタン」で呼び出されるcodeadress関数
      function codeAddress() {
        // 入力された図書館名を取得
        const inputAddress = document.getElementById('library-name').value;

        if (!geocoder) geocoder = new google.maps.Geocoder();
      
        // 3.Geocoding APIを使用して住所を緯度経度に変換
        geocoder.geocode({ 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
                // 緯度、経度、フォーマットされた住所を隠しフィールドにセット
                document.getElementById('library-latitude').value = results[0].geometry.location.lat();
                document.getElementById('library-longitude').value = results[0].geometry.location.lng();
                document.getElementById('library-address').value = results[0].formatted_address;
                document.getElementById('display').textContent = "住所: " + results[0].formatted_address + ", 緯度: " + results[0].geometry.location.lat() + ", 経度: " + results[0].geometry.location.lng();
                display.textContent = "住所: " + results[0].formatted_address + ", 緯度: " + results[0].geometry.location.lat() + ", 経度: " + results[0].geometry.location.lng();
            } else {
                // 検索が失敗した場合の処理
                alert('該当する結果がありませんでした：' + status);
                document.getElementById('display').textContent = "該当する結果がありませんでした。";
            }
        });
      }
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>" async defer></script>

      <hr class="my-8 border-gray-300 max-w-md mx-auto">

      <!-- 保存ボタン -->
      <div class="text-center mt-8">
        <%= form.submit "この図書館を登録", class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
  <% end %>

  <hr class="my-8 border-gray-300 max-w-md mx-auto">

  <%= link_to 'javascript:history.back()', class: "bg-gray-100 hover:bg-gray-200 text-black font-bold py-1.5 px-3 rounded-full focus:outline-none focus:shadow-outline border-2 border-gray-300" do %>
    <i class="fa-solid fa-reply"></i> 前のページに戻る
  <% end %>

  <div style="margin-bottom: 100px;"></div>
</div>
