<!-- 新しい図書館を追加 -->
<div class="container mx-auto max-w-7xl px-4 text-center mt-20">
  <div style="margin-bottom: 60px;"></div>
  <h1 class="text-xl font-semibold mb-12 text-gray-600"><i class="fa-solid fa-pen-fancy"></i> 新しい図書館を追加</h1>

  <%= form_with(model: @library, local: true, html: { multipart: true }) do |form| %>
    <% if @library.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
        <strong class="font-bold">エラーが発生しました：</strong>
        <ul>
          <% @library.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto">
      <!-- 図書館名の入力フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">図書館名</div>
        <div class="ml-8 w-48">
          <%= form.text_field :name, id: "library-name", class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 都道府県の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">都道府県</div>
        <div class="ml-8 w-48">
          <%= form.select :prefecture, prefectures_for_select, {}, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 自習室の有無の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">自習室の有無</div>
        <div class="ml-8 w-48">
          <%= form.select :study_rooms, { 'あり': 1, 'なし': 0 }, {}, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 座席数の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">座席数</div>
        <div class="ml-8 w-48">
          <%= form.select :seats_number, Library.seats_numbers.keys.map { |key| [I18n.t("enums.library.seats_number.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- PC利用可能かの選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">PC利用可能</div>
        <div class="ml-8 w-48">
          <%= form.select :pc_available, Library.pc_availables.keys.map { |key| [I18n.t("enums.library.pc_available.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- WiFi利用可能かの選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">WiFi利用可能</div>
        <div class="ml-8 w-48">
          <%= form.select :wifi_available, Library.wifi_availables.keys.map { |key| [I18n.t("enums.library.wifi_available.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- 電源の有無の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">電源利用可能</div>
        <div class="ml-8 w-48">
          <%= form.select :power_available, Library.power_availables.keys.map { |key| [I18n.t("enums.library.power_available.#{key}"), key] }, {}, { class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      </div>

      <!-- 休館日の入力フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">休館日</div>
        <div class="ml-8 w-48">
          <%= form.text_field :holiday, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 画像アップロードのフィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">画像</div>
        <div class="ml-8 w-48">
            <%= form.file_field :img, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 備考のテキストエリア -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">備考</div>
        <div class="ml-8 w-48">
          <%= form.text_area :body, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 地図検索ボタン -->
      <div class="text-center mt-8">
        <button onclick="codeAddress()" type="button" class="bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">地図を表示</button>
      </div>

      <!-- 住所入力フィールド(実装後隠しフィールドへ変更) -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">住所</div>
        <div class="ml-8 w-48">
         <%= form.text_field :address, id: "library-address", class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
       </div>
      </div>

      <!-- 緯度入力フィールド（実装後隠しフィールドに変更） -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">緯度</div>
        <div class="ml-8 w-48">
          <%= form.text_field :latitude, id: "library-latitude", class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 経度の入力フィールド(実装後隠しフィールドに変更) -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">経度</div>
        <div class="ml-8 w-48">
          <%= form.text_field :longitude, id: "library-longitude", class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 緯度経度の表示 -->
      <div id="display" class="text-center mt-4"></div>

      <!-- 地図の表示部分 -->
      <div class="map-container text-center mt-12 mx-auto">
        <div id='map'></div>
      </div>

      <style>
      #map {
        height: 400px;
        width: 400px;
        margin: auto;
      }

      .map-container {
        max-width: 600px;
        margin: 20px auto;
      }
      </style>

      <script>
      let map, marker, geocoder;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.6895, lng: 139.6917},
          zoom: 12,
        });
        geocoder = new google.maps.Geocoder();
      }

      function codeAddress() {
        const inputAddress = document.getElementById('library-name').value;
        if (marker) {
          marker.setMap(null); // Remove the previous marker, if any
        }

        geocoder.geocode({ 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                display.textContent = results[0].formatted_address + " - " + results[0].geometry.location.toString();
                document.getElementById('library-latitude').value = results[0].geometry.location.lat();
                document.getElementById('library-longitude').value = results[0].geometry.location.lng();
                document.getElementById('library-address').value = results[0].formatted_address;
            } else {
                alert('該当する結果がありませんでした：' + status);
                display.textContent = "該当する結果がありませんでした。";
            }
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>

      <hr class="my-8 border-gray-300 max-w-md mx-auto">

      <!-- 保存ボタン -->
      <div class="text-center mt-8">
        <%= form.submit "この図書館を登録", class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
  <% end %>

  <hr class="my-8 border-gray-300 max-w-md mx-auto">

  <%= link_to 'javascript:history.back()', class: "bg-gray-100 hover:bg-gray-200 text-black font-bold py-1.5 px-3 rounded-full focus:outline-none focus:shadow-outline border-2 border-gray-300" do %>
    <i class="fa-solid fa-reply"></i> 前のページに戻る
  <% end %>

  <div style="margin-bottom: 100px;"></div>
</div>
