<!-- 新しい図書館を追加 -->
<div class="container mx-auto max-w-7xl px-4 text-center">
  <h1 class="text-xl font-semibold mb-12 text-gray-600">新しい図書館を追加</h1>

  <%= form_with(model: @library, local: true) do |form| %>
    <% if @library.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
        <strong class="font-bold">エラーが発生しました：</strong>
        <ul>
          <% @library.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto">
      <!-- 図書館名の入力フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">図書館名</div>
        <div class="ml-8 w-48">
          <%= form.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 都道府県の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">都道府県</div>
        <div class="ml-8 w-48">
          <%= form.select :prefecture, prefectures_for_select, {}, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 自習室の有無の選択フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">自習室の有無</div>
        <div class="ml-8 w-48">
          <%= form.select :study_rooms, { 'あり': 1, 'なし': 0 }, {}, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 休館日の入力フィールド -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">休館日</div>
        <div class="ml-8 w-48">
          <%= form.text_field :holiday, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 備考のテキストエリア -->
      <div class="flex items-center justify-center mb-6">
        <div class="w-32 bg-gray-100 p-2 rounded">備考</div>
        <div class="ml-8 w-48">
          <%= form.text_area :body, class: "shadow appearance-none border rounded py-2 px-3 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

      <!-- 保存ボタン -->
      <div class="text-center mt-8">
        <%= form.submit "保存", class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
  <% end %>
</div>
