<!-- 特定の図書館の詳細表示 -->
<div class="container mx-auto max-w-7xl px-4 text-center my-20">
  <div class="flex justify-center items-center mb-12">
    <h1 class="text-xl font-semibold text-gray-600 mr-4"><%= @library.name %></h1>
    <!-- お気に入り登録、解除ボタン -->
    <!-- ログインしているかの確認 -->
    <% if current_user %>
      <!-- ログイン状態の場合 -->
      <!-- ユーザーが図書館をすでにお気に入り登録しているかの確認 -->
      <% bookmark = current_user.bookmarks.find_by(library_id: @library.id) %>
      <% if bookmark %>
        <%= link_to 'お気に入りを解除', library_bookmark_path(@library, bookmark), data: { turbo_method: :delete }, class: "bg-red-200 hover:bg-red-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <% else %>
        <%= link_to 'お気に入りに登録する', library_bookmarks_path(@library), data: { turbo_method: :post }, class: "bg-green-200 hover:bg-green-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <% end %>
    <% else %>
      <!-- ログアウト状態の場合はログインページへ遷移 -->
      <%= link_to 'お気に入りに登録する', login_path, class: "bg-green-200 hover:bg-green-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <% end %>
  </div>

  <!-- 投稿編集・削除ボタン（投稿者にのみ表示） -->
  <!-- ユーザーが投稿者であるかの確認 -->
  <% if current_user && current_user.id == @library.user_id %>
    <div class="text-center mb-12">
      <%= link_to '編集', edit_library_path(@library), class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to '削除', library_path(@library), data: { turbo_method: :delete }, class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>

  <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto">
    <div class="flex items-center justify-center mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded text-center">都道府県</div>
      <div class="ml-8 text-center w-48"><%= @library.prefecture %></div>
    </div>

    <div class="flex items-center justify-center mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded text-center">自習室</div>
      <div class="ml-8 text-center w-48"><%= @library.study_rooms > 0 ? 'あり' : 'なし' %></div>
    </div>

    <% if @library.img.present? %>
      <div class="flex justify-center mb-6">
        <div class="w-auto">
          <%= image_tag @library.img.url, class: "max-w-36 h-auto rounded mx-auto" %>
        </div>
      </div>
    <% else %>
      <div class="text-center mb-6">画像はありません。</div>
    <% end %>

    <div class="flex items-center justify-center mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded text-center">休館日</div>
      <div class="ml-8 text-center w-48"><%= @library.holiday %></div>
    </div>

    <div class="flex items-center justify-center mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded text-center">備考</div>
      <div class="ml-8 text-center w-48"><%= @library.body %></div>
    </div>

    <div class="flex items-center justify-center mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded text-center">投稿日時</div>
      <div class="ml-8 text-center w-48"><%= @library.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M") %></div>
    </div>

    <div class="flex items-center justify-center mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded text-center">最終編集日時</div>
      <div class="ml-8 text-center w-48"><%= @library.updated_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M") %></div>
    </div>

    <!-- 投稿者名とアバターの表示 -->
    <div class="flex items-center justify-center mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded text-center">投稿者名</div>
      <div class="ml-8 w-48 flex items-center justify-center">
        <% if @library.user.avatar? %>
          <%= image_tag @library.user.avatar.url, class: "h-8 w-8 rounded-full mr-2" %>
        <% else %>
          <%= image_tag 'default_avatar.png', class: "h-8 w-8 rounded-full mr-2" %>
        <% end %>
        <span class="text-center"><%= @library.user.name %></span>
      </div>
    </div>

  <div class="text-center mt-6">
    <%= link_to '他の図書館を探す', libraries_path, class: "bg-blue-200 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to 'マイページ', profile_path, class: "bg-blue-200 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
  </div>
