<div class="container mx-auto max-w-6xl px-4 text-center h-screen flex justify-center items-start mt-20">
  <div class="w-full max-w-md">
    <h1 class="text-xl font-semibold mb-12 text-gray-600">ログイン</h1>

    <%= form_with(url: login_path, local: true) do |form| %>
      <div class="border rounded-lg p-8 hover:bg-gray-100">
        <div class="flex items-center justify-start mb-6">
          <div class="w-32 bg-gray-100 p-2 rounded">メールアドレス</div>
          <div class="ml-8">
            <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", autofocus: true %>
          </div>
        </div>

        <div class="flex items-center justify-start mb-6">
          <div class="w-32 bg-gray-100 p-2 rounded">パスワード</div>
          <div class="ml-8">
            <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>
        </div>

        <div class="text-center mt-8">
          <%= form.submit "ログイン", class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="text-center mt-4">
          <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path, class: "text-gray-600 hover:text-black" %>
        </div>
      </div>
    <% end %>
  
    <div class="text-center mt-10">
      <%= link_to 'トップページ', root_path, class: "bg-blue-100 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
      <%= link_to 'ユーザー登録', new_user_path, class: "bg-blue-100 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
      <%= link_to '図書館を探す', libraries_path, class: "bg-blue-100 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
</div>
