<!DOCTYPE html>
<html>
<head>
  <title>FindLibrary</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> -->
  <%= javascript_importmap_tags %>
  <script src="https://kit.fontawesome.com/f218477acd.js" crossorigin="anonymous"></script>
  <style>
    body, html {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      background-color: #f5f5dc; /* 淡いクリーム色を背景に設定 */
    }
    main {
      flex: 1 0 auto;
      background-color: #ffffff; /* main領域を白色に設定 */
      width: 90%; /* main領域の幅を画面の90%に設定 */
      max-width: 1200px; /* main領域の最大幅を1200pxに設定 */
      margin: 20px auto; /* 上下に20pxのマージンを設定し、左右は自動で中央寄せ */
      padding: 20px; /* 内容周りに20pxのパディングを設定 */
      box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* 影を追加して立体感を出す */
      border-radius: 50px; /* 角を丸くする */
    }
    footer {
      flex-shrink: 0;
    }
  </style>
</head>

<body>
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>

  <main class="container mx-auto mt-5 px-5 flex"> 
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>
</body>
</html>