<!DOCTYPE html>
<html>
  <head>
    <title>FindLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <main class="container mx-auto mt-5 px-5 flex"> <!-- mt-28 から mt-5 などに変更して、ヘッダーとの間隔を調整 -->
      <%= yield %>
    </main>
  </body>
</html>
