<!DOCTYPE html>
<html>
<head>
  <title>FindLibrary</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= display_meta_tags(default_meta_tags) %>
  <script src="https://kit.fontawesome.com/f218477acd.js" crossorigin="anonymous"></script>
  <style>
    body, html {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      background-color: #f5f5dc;
    }
    main {
      flex: 1 0 auto;
      background-color: #ffffff;
      width: 90%;
      max-width: 1200px;
      margin: 20px auto;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      border-radius: 50px;
    }
    footer {
      flex-shrink: 0;
    }

    /* 自習室詳細情報のタグスタイル */
    .seat-tag {
      display: inline-block;
      padding: 4px 8px;
      margin: 0 auto 8px 8px;
      background-color: #f0f0f0;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .seat-tag h4 {
      margin: 0;
      color: #555;
      font-size: 12px;
    }

    /* カードのアニメーション */
    @keyframes cardFadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .card {
      transition: transform 0.3s ease;
      animation: cardFadeIn 1.8s ease-out forwards;
    }
    
    .card:hover {
      transform: translateY(-5px);
    }
  </style>
</head>

<body>
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>

  <main class="container mx-auto mt-5 px-5 flex"> 
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>
</body>
</html>